version: '3'
services:
  rabbitmq:
    image: "rabbitmq:3-management"
    ports:
      - 5672:5672
      - 15672:15672
# Run this from CMD prompt:
#   docker-machine ssh
#   sudo sysctl -w vm.max_map_count=262144
  elasticsearch:
    image: "elasticsearch:6.5.1"
    environment:
      - bootstrap.memory_lock=true
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - 9200:9200
    ulimits:
      memlock:
        soft: -1
        hard: -1